div {
    width: calc(25% - 30px) ;
    float: left;
    /*border: 1px solid red;*/

    margin: 10px 100px;
    /*padding: 50px 15px;*/
box-sizing: border-box;
/*    box-shadow: 10px 10px 5px black;*/
/*    border-radius: 20px;*/
    transition: all 300ms;
}
/*div:hover{*/
    /*transform: scale(1.113);*/

/*}*/
img{
    max-width: 100%;
}
