@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle, rgb(88, 190, 174) 0%, rgb(102, 79, 229) 100%);
  font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    line-height: 1.35;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.conternor{
    width: 1200px;
    float: none;
    margin: 0 auto;
}

.sidebar{
    float: left;
    width: 15%;
}
.conten {
    float: left;
    width: 15%;
}
.one-col .conten{
    width: 100%;
}
.three-col .conten{
    width: 50%;
}
.header{
    background-color: darkred;
}
.ship{
    float: left;
    width: 12%;
}
.shipb{
    float: left;
    width: 10%;
}
.shipa{
    float: left;
    width: 10%;
}
 .card-body:hover{
    background-color: #ffffff;
     transform: scale(1.03);
}
 .card-text {
     float: left;
 margin: 0 0px;
 }
img{
    float:right ;
}
.card-body{
    background-color: #b6b6b6;
}

